extend template

block css
	link(rel='stylesheet', href='/css/createAnOnlineStore.css')


block content
	.main-container
		.main.wrapper.clearfix
			h1 
				a(href='https://www.printful.com/generator?utm_source=unknownReferrer&utm_medium=link&utm_content=affId-28879&utm_campaign=affiliate', target='_blank') Create an online Store
			h2 Before you start:
			h3 Know the Shirt Club Convention
			h2 The Shirt Club Convention
			h4 To be recognized as a Shirt Club shirt your shirt must contain 2 things.
			ul
				li Your membership ID number or a message number.
				li A symbol.
			h2 About Symbols:
			h4 We have four categories of symbols allowed in the convention:
			ul
				li Circle
				li Square
				li Triangle
				li Star
			h4 Symbol files are available for download below
			h1 
				a(href='https://www.printful.com/generator?utm_source=unknownReferrer&utm_medium=link&utm_content=affId-28879&utm_campaign=affiliate', target='_blank') Create an online Store
			h2 How to start an online Store
			div Step 1: Choose a symbol file and download onto your computer. Place where you can easily find it.
			div Step 2: Follow link for &quot;Build and Buy a Shirt&quot;
			div Step 3: Choose a shirt
			div Step 4: Then go to &quot;Start designing&quot; link
			div Step 5: Click on &quot;DROP YOUR DESIGN HERE&quot;
			div Step 6: Choose &quot;Upload&quot; and find the symbol file that you chose in Step 1.
			div Step 7: Select your file and your symbol will now appear on your shirt.
			div Step 8: You can change size and location of your symbol
			div Step 9: Select &quot;Add Text&quot; from boxes on the left and type in your Member ID number or Message number.
			div Step 10: You can now position symbol and number to create the look you want.
			div Step 11: You have now designed the front of your shirt. You can repeat steps 7 thru 10 to apply a graphic to back and/or sleeves.
			div Step 12: When done designing click &quot;Add to cart&quot;
			h2 Start by downloading a symbol file:
			a(href="/images/symbols/circle-dark.png", class="symbol-a", download)
				img(src="/images/symbols/circle-dark.png", class="symbol-img")
			a(href="/images/symbols/circle-light.png", class="symbol-a", download)
				img(src="/images/symbols/circle-light.png", class="symbol-img")
			a(href="/images/symbols/square-dark.png", class="symbol-a", download)
				img(src="/images/symbols/square-dark.png", class="symbol-img")
			a(href="/images/symbols/square-light.png", class="symbol-a", download)
				img(src="/images/symbols/square-light.png", class="symbol-img")
			a(href="/images/symbols/star-dark.png", class="symbol-a", download)
				img(src="/images/symbols/star-dark.png", class="symbol-img")
			a(href="/images/symbols/star-light.png", class="symbol-a", download)
				img(src="/images/symbols/star-light.png", class="symbol-img")
			a(href="/images/symbols/triangle-dark.png", class="symbol-a", download)
				img(src="/images/symbols/triangle-dark.png", class="symbol-img")
			a(href="/images/symbols/triangle-light.png", class="symbol-a", download)
				img(src="/images/symbols/triangle-light.png", class="symbol-img")
			br
			br
			h4 Need help? Hire a Shirtclub “pro” to build your website and store in a way that you can easily use with no programming experience. Contact us using email below and ask for a “pro”.
			h4
				a(href="mailto:info@shirtclub.net") info@shirtclub.net
			h1 
				a(href='https://www.printful.com/generator?utm_source=unknownReferrer&utm_medium=link&utm_content=affId-28879&utm_campaign=affiliate', target='_blank') Create an online Store

block js
	script(src='/js/createAnOnlineStore.js')