extend template

block css
	link(rel='stylesheet', href='/css/find.css')

block content
	.main-container
		.main.wrapper.clearfix
			article
				header
					h3 
						i(class="fa fa-trophy fa-md") 
						|  Find a shuffleboard:
					p

				section
					.form-group
						.dropdown
							button.btn.btn-default.dropdown-toggle#selectCountry(type='button' data-toggle='dropdown' aria-expanded='true') Country 
								span.caret
							ul.dropdown-menu#country(role='menu' aria-labelledby='selectCountry')
								li(role='presentation')
									a(value='canada') Canada 
								li(role='presentation')
									a(value='usa') USA 

					.form-group
						.dropdown
							button.btn.btn-default.dropdown-toggle#selectProvince(type='button' data-toggle='dropdown' aria-expanded='true') State/Province 
								span.caret
							ul.dropdown-menu#province(role='menu' aria-labelledby='selectProvince')

					.form-group
						.dropdown
							button.btn.btn-default.dropdown-toggle#selectCity(type='button' data-toggle='dropdown' aria-expanded='true') City 
								span.caret
							ul.dropdown-menu#city(role='menu' aria-labelledby='selectCity')

				section#results
				section#navigation
					.ul
						.li
							a(href='/start') Start a Game
						.li
							a(href='#') Find a Game
						.li
							a(href='/standings') Standings and Statistics
						.li
							a(href='/shop') Shop for League Wear
block js
	script(src='/js/find.js')