extends template

block css
    link(rel='stylesheet', href='/css/forgotPassword.css')

block content
    .main-container
        .main.wrapper.clearfix
            h4
                | We can help you reset your password!
            div
                label.control-labeo What is your email address?
                br
                input(id='email' type='text')
            br
            div
                button(id='submit')
                    | Submit

block js
    script(type='text/javascript').
      var token = !{JSON.stringify(token)};
    script(src='/js/forgotPassword.js')
