extends template

block css


block content
        .main-container
          .main.wrapper.clearfix
            article
              header
                h3 
                    i(class='fa fa-diamond fa-md')
                    |  Welcome, Location Owner!

              section

block js