extends template

block css
    link(rel='stylesheet', href='/css/ranking.css')
    if(auth)
        link(rel='stylesheet', href='/css/member.css')


block content
        .main-container
            .main.wrapper.clearfix
                article
                    header
                        h2 
                            i(class="fa fa-bar-chart fa-md")
                            | Player Rankings

                    section
                        form#form
                            .form-group
                                label Enter Player Name:
                                    p
                                    input#user.form-control(type='text', placeholder='superman')

                        button#submit.btn.btn-primary(type='submit') Submit

                    section#result


block js
    script(src='/js/ranking.js')
    script(src='/vendors/async/async.js')
    if(auth)
        script(src='/js/Authenticated.js')