extend template

block css
	link(rel='stylesheet', href='/css/register.css')

block content
	.main-container
		.main.wrapper.clearfix
			article
				header
					h3 
						i(class="fa fa-user-plus fa-md") 
						|  Registration
					p

				section
					form#form(data-toggle='validator', role='form')
						.form-group
							label.control-label(for='inputName') Name
							br
							.form-group.col-sm-6.pw-col-1
								input#FirstName.form-control(type='text', placeholder='First Name')
							.form-group.col-sm-6.pw-col-2
								input#LastName.form-control(type='text', placeholder='Last Name')

						.form-group
							.col-sm-6(style="padding:0; padding-right: 15px;")
								label.control-label Email
								input#Email.form-control(type='email', placeholder='Jason@theleague.ca')
								.help-block.with-errors

							.col-sm-6(style="padding:0")
								label.control-label Confirm Email
								input#ConfirmEmail.form-control(type='email', placeholder='Jason@theleague.ca')
								.help-block.with-errors


						.form-group

							.row
								.col-lg-3
									.input-group
										label.control-label(for='inputZone') Zone
										.dropdown
											button.btn.btn-default.dropdown-toggle#selectZone(type='button' data-toggle='dropdown' aria-expanded='true') Select
												span.caret
											ul.dropdown-menu#zone
												<li><a value="USA" >USA </a></li>
												<li><a value="Canada" >Canada </a></li>
												<li><a value="Great Britain" >Great Britain </a></li>
												<li><a value="South America" >South America </a></li>
												<li><a value="Asia" >Asia </a></li>
												<li><a value="Africa" >Africa </a></li>
												<li><a value="Europe" >Europe </a></li>
												<li><a value="Australia" >Australia </a></li>
												<li><a value="Other" >Other </a></li>

								.col-lg-3(id='state-dropdown' style='display:none;')
									.input-group
										label.control-label State
										.dropdown
											button.btn.btn-default.dropdown-toggle#selectState(type='button' data-toggle='dropdown' aria-expanded='true') Select
												span.caret
											ul.dropdown-menu#state
												<li role="presentation"><a value="AL" >Alabama </a></li>
												<li role="presentation"><a value="AK" >Alaska </a></li>
												<li role="presentation"><a value="AZ" >Arizona </a></li>
												<li role="presentation"><a value="AR" >Arkansas </a></li>
												<li role="presentation"><a value="CA" >California </a></li>
												<li role="presentation"><a value="CO" >Colorado </a></li>
												<li role="presentation"><a value="CT" >Connecticut </a></li>
												<li role="presentation"><a value="DE" >Delaware </a></li>
												<li role="presentation"><a value="FL" >Florida </a></li>
												<li role="presentation"><a value="GA" >Georgia </a></li>
												<li role="presentation"><a value="HI" >Hawaii </a></li>
												<li role="presentation"><a value="ID" >Idaho </a></li>
												<li role="presentation"><a value="IL" >Illinois </a></li>
												<li role="presentation"><a value="IN" >Indiana </a></li>
												<li role="presentation"><a value="IA" >Iowa </a></li>
												<li role="presentation"><a value="KS" >Kansas </a></li>
												<li role="presentation"><a value="KY" >Kentucky </a></li>
												<li role="presentation"><a value="LA" >Louisiana </a></li>
												<li role="presentation"><a value="ME" >Maine </a></li>
												<li role="presentation"><a value="MD" >Maryland </a></li>
												<li role="presentation"><a value="MA" >Massachusetts </a></li>
												<li role="presentation"><a value="MI" >Michigan </a></li>
												<li role="presentation"><a value="MN" >Minnesota </a></li>
												<li role="presentation"><a value="MS" >Mississippi </a></li>
												<li role="presentation"><a value="MO" >Missouri </a></li>
												<li role="presentation"><a value="MT" >Montana </a></li>
												<li role="presentation"><a value="NE" >Nebraska </a></li>
												<li role="presentation"><a value="NV" >Nevada </a></li>
												<li role="presentation"><a value="NH" >New Hampshire </a></li>
												<li role="presentation"><a value="NJ" >New Jersey </a></li>
												<li role="presentation"><a value="NM" >New Mexico </a></li>
												<li role="presentation"><a value="NY" >New York </a></li>
												<li role="presentation"><a value="NC" >North Carolina </a></li>
												<li role="presentation"><a value="ND" >North Dakota </a></li>
												<li role="presentation"><a value="OH" >Ohio </a></li>
												<li role="presentation"><a value="OK" >Oklahoma </a></li>
												<li role="presentation"><a value="OR" >Oregon </a></li>
												<li role="presentation"><a value="PA" >Pennsylvania </a></li>
												<li role="presentation"><a value="RI" >Rhode Island </a></li>
												<li role="presentation"><a value="SC" >South Carolina </a></li>
												<li role="presentation"><a value="SD" >South Dakota </a></li>
												<li role="presentation"><a value="TN" >Tennessee </a></li>
												<li role="presentation"><a value="TX" >Texas </a></li>
												<li role="presentation"><a value="UT" >Utah </a></li>
												<li role="presentation"><a value="VT" >Vermont </a></li>
												<li role="presentation"><a value="VA" >Virginia </a></li>
												<li role="presentation"><a value="WA" >Washington </a></li>
												<li role="presentation"><a value="WV" >West Virginia </a></li>
												<li role="presentation"><a value="WI" >Wisconsin </a></li>
												<li role="presentation"><a value="WY" >Wyoming </a></li>

								.col-lg-3(id='province-dropdown' style='display:none;')
									.input-group
										label.control-label Province
										.dropdown
											button.btn.btn-default.dropdown-toggle#selectProvince(type='button' data-toggle='dropdown' aria-expanded='true') Select
												span.caret
											ul.dropdown-menu#province
												<li role="presentation"><a value="AB" >AB </a></li>
												<li role="presentation"><a value="BC" >BC </a></li>
												<li role="presentation"><a value="MB" >MB </a></li>
												<li role="presentation"><a value="NB" >NB </a></li>
												<li role="presentation"><a value="NL" >NL </a></li>
												<li role="presentation"><a value="NS" >NS </a></li>
												<li role="presentation"><a value="NT" >NT </a></li>
												<li role="presentation"><a value="NU" >NU </a></li>
												<li role="presentation"><a value="ON" >ON </a></li>
												<li role="presentation"><a value="PE" >PE </a></li>
												<li role="presentation"><a value="QC" >QC </a></li>
												<li role="presentation"><a value="SK" >SK </a></li>
												<li role="presentation"><a value="YT" >YT </a></li>

								.col-lg-3(id='country-input' style='display:none;')
									.input-group
										label.control-label Country
										input#Country.form-control(type='text')

								.col-lg-3
									.input-group

										label.control-label(for='inputCity') City
										input#City.form-control(type='text', placeholder='Toronto')

						.form-group.marbottom
							label.control-label Password
							br
							.form-group.col-sm-6.pw-col-1.marbotzero
								input#Password.form-control(type='password', data-minlength='6', placeholder='Password')
								span.help-block Minimum of 6 characters
							.form-group.col-sm-6.pw-col-2
								input#PasswordConfirm.form-control(type='password', data-match='#inputPassword', data-match-error="Whoops, these don't match" placeholder="Confirm")
								.help-block.with-errors

						.form-group
							button#form.btn.btn-primary(type='submit') Submit

						.form-group#registrationStatus

block js
	script(src='/js/register.js')