extends template

block css
    link(rel='stylesheet', href='/css/resetPassword.css')

block content
    .main-container
        .main.wrapper.clearfix
            h4
                | Reset Your Password
            div
                label.control-labeo Email
                br
                input(id='email' type='text')
            div
                label.control-labeo New Password
                br
                input(id='password' type='password')
            br
            div
                button(id='submit')
                    | Reset

block js
    script(type='text/javascript').
      var token = !{JSON.stringify(token)};
    script(src='/js/resetPassword.js')
